<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saferoutes</title>
   <script src="https://cdn.tailwindcss.com"></script>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap" rel="stylesheet">

</head>
<body class="bg-[#1a1a1a] text-[#fdfdfd] font-[Poppins]">
    <header>
        <nav class=" flex justify-between items-center px-5 py-2 bg-[#6ec2b8] text-white shadow-md sticky top-0 z-[1000]">
            <div  class="logo text-[20px] font-family:'Shadows Into Light' text-white"> saferoutes </div>
            <div class="nav-links flex gap-6 text-[16px] ml-10">
            <a href="travel.html" class="text-white font-medium transition-colors duration-300 hover:text-[#ff007f] active:text-[#ff007f]">travel</a>
            <a href="#" class="text-white font-medium transition-colors duration-300 hover:text-[#ff007f] active:text-[#ff007f]">feedback</a>
            <a href="#" class="text-white font-medium transition-colors duration-300 hover:text-[#ff007f] active:text-[#ff007f]">about us</a>
            <a href="#" class="text-white font-medium transition-colors duration-300 hover:text-[#ff007f] active:text-[#ff007f]">contact us</a>
            </div>
            <div class="nav-actions  flex gap-3">
                <a href="\login" class="login-btn inline-block text-white font-semibold text-[15px] px-3 py-2 rounded-full bg-[#e45582] transition-colors duration-300 hover:bg-[#c5486f]">Login</a>
                 <a href="\signup" class="signup-btn inline-block text-[#fffdd0] font-semibold text-[15px] px-3 py-2 rounded-full bg-[#6ec2b8] border border-white hover:bg-[#c5486f] transition-opacity duration-300">Sign Up</a>
            </div>
        </nav>
    </header>
    <section class="hero h-screen flex flex-col items-center justify-center text-center py-[100px] px-5 bg-[#fffdd0] text-white h-2000" >
        <div class="hero text">
            <h1  class="text-[48px] font-bold mb-5 text-[#20443c]">find the safest route, always</h1>
            <p class="text-[24px] text-[#20443c] mb-[30px]">safe routes helps women navigate cities confidently based on community safety insights and recommendations</p>
            <a href="travel.html" class="getstarted-btn inline-block px-7 py-3 bg-[#e45582] text-white font-semibold text-[16px] rounded-full transition-colors duration-300 hover:bg-[#c5486f]">Get Started</a>
        </div>
    </section>
    <section class="bg-[#fffdd0] py-16 px-4 md:px-8 lg:px-16">
  <div class="max-w-4xl mx-auto text-center ">
    <h2 class="text-3xl md:text-4xl font-bold mb-10 text-gray-800">Why Choose SafeRoutes?</h2>
    
    <div class="grid gap-10 md:grid-cols-3 ">
      <!-- Pointer 1 -->
      <div class=" bg-pink p-6 border rounded-xl shadow hover:shadow-lg transition duration-300 ">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Plan Safe Routes</h3>
        <p class="text-gray-600">Pick the safest path—powered by real data, not just vibes.</p>
      </div>

      <!-- Pointer 2 -->
      <div class="p-6 border rounded-xl shadow hover:shadow-lg transition duration-300">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Share Your Trip</h3>
        <p class="text-gray-600">Send live trip updates to friends, fam or even your nosy roommate.</p>
      </div>

      <!-- Pointer 3 -->
      <div class="p-6 border rounded-xl shadow hover:shadow-lg transition duration-300">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">Smart Alerts</h3>
        <p class="text-gray-600">Get notified when you’re near sketchy areas. Stay woke, stay safe.</p>
      </div>
    </div>

    <!-- Pink "More Details" Button -->
    <div class="mt-12">
      <a href="#about" class="inline-block bg-pink-500 hover:bg-pink-600 text-white font-semibold text-lg px-6 py-3 rounded-full transition duration-300 shadow-md">
        More Details
      </a>
    </div>
  </div>
</section>


<footer class="text-center p-5 bg-[#20443c] text-white text-[14px] border-t border-[#eee]">
    <p>&copy; 2025 travsafe. All rigth reserved.</p>
</footer>
</body>
</html>