<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up safestep</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Helvetica+Neue$display=swap" rel="stylesheet">
</head>
<body class="bg-[#6ec2b8] h-screen items-center  ">
    <div class="max-w-[420px] mx-auto my-2 bg-[#fffdd0] p-5 rounded-[16px] shadow-[0_8px_20px_rgba(0,0,0,0.08)]">
        <h2 class="text-[28px] font-semibold text-center mt-[0px] mb-[20px]">create account</h2>
        <form action="/signup" method="post" class="flex flex-col">
            <label for="name" class="text-[14px] mb-[6px] mt-[7px] font-medium">Full Name</label>
            <input type="text" id="name" name="name" required class="p-2 mb-5 border border-[#d1d1d1] rounded-lg text-[15px] bg-white transition duration-200 focus:outline-none focus:border-[1.5px] focus:border-black">
            <label for="email" class="text-[14px] mb-[6px] font-medium">Email</label>
            <input type="text" id="email" name="email" required class="p-2 mb-5 border border-[#d1d1d1] rounded-lg text-[15px] bg-white transition duration-200 focus:outline-none focus:border-[1.5px] focus:border-black">
            <label for="phone" class="text-[14px] mb-[6px] font-medium">phone number</label>
            <input type="tel" id="phone" name="phone" required class="p-2 mb-5 border border-[#d1d1d1] rounded-lg text-[15px] bg-white transition duration-200 focus:outline-none focus:border-[1.5px] focus:border-black">
            <label for="password" class="text-[14px] mb-[6px] font-medium">password:</label>
            <input type="password" id="password" name="password" required class="p-2 mb-5 border border-[#d1d1d1] rounded-lg text-[15px] bg-white transition duration-200 focus:outline-none focus:border-[1.5px] focus:border-black">
            <label for="confirm-password" class="text-[14px] mb-[6px] font-medium">confirm password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required class="p-2 mb-5 border border-[#d1d1d1] rounded-lg text-[15px] bg-white transition duration-200 focus:outline-none focus:border-[1.5px] focus:border-black">
            <button type="submit" class="p-2 bg-black text-white text-[16px] font-semibold rounded-lg hover:bg-[#333] transition duration-300 cursor-pointer">Sign Up</button>
        </form>
        <p class="text-center text-[14px] mt-[10px] mb-[10px]">Already have an account? <a href="\login" class="text-[#e44582] no-underline font-bold hover:underline">Login here</a></p>
    </div>
</body>
</html>